name: React Frontend CI

on:
  push:
    branches:
      - main
  workflow-dispatch:
    inputs:
    environment:
      description: "Environment to deploy"
      required: true
      type: choice
      options:
        - dev
        - test
        - production

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: vyshnavi_task_2/demo-frontend

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      - name: Build Application
        run: npm run build

      - name: Print environment
        run: echo "Deployind to $
github.event.inputs.environment 

